<form class="form-group">
  <div class="row">
    <div class="form-wrap">
      <div id="first_form">
        <div class="col-sm-3">
          <%= label_tag 'member_1_1', 'Member 1', :class => 'control-label' %>
          <select id="member_1_1" class="form-control" name='member_1[]'>
            <%= options_from_collection_for_select(Member.all, :id, :name) %>
          </select>
        </div>


        <div class="col-sm-3">
          <%= label_tag 'member_2_1', 'Member 2', :class => 'control-label' %>
          <select id="member_2_1" class="form-control" name='member_2[]'>
            <%= options_from_collection_for_select(Member.all, :id, :name) %>
          </select>
        </div>

        <div class="col-sm-6">
            <%= label_tag 'date_1', 'Date', class: 'control-label' %><br/>
            <input type="text" class="form-control datepicker" id="date_1" name="date[]" />
            <%# text_field 'date[]', {class: 'datepicker'} %>
        </div>
      </div>
    </div>
      <div class="row" style="text-align: center; padding-top: 1em">
          <button id="tambah" class="btn">Add New</button>
          <%= submit_tag 'Register', { class: 'btn btn-primary' } %>
      </div>

    <script>
      $(document).ready(function() {
        $('.datepicker').datepicker({ dateFormat: 'dd-mm-yy' });
        $('#tambah').click(function(e){
          $('#first_form').clone().appendTo('.form-wrap');
          $('.datepicker').datepicker({ dateFormat: 'dd-mm-yy' });
          e.preventDefault();
        });
      });
    </script>
  </div>
</form>
