<%= form_for @pairing, html: { class: 'form-group' } do |f| %>
	<% if @pairing.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@pairing.errors.count, "error") %> prohibited this pairing from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @pairing.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
<% end %>

  <div class="row">
      <div class="col-sm-3">
          <%= f.label :member_1, :class => 'control-label' %>
          <%= f.collection_select :member_1, Member.all, :id, :name, {}, { class: 'form-control' } %>
      </div>

      <div class="col-sm-3">
          <%= f.label :member_2, :class => 'control-label' %>
          <%= f.collection_select :member_2, Member.all, :id, :name, {}, { class: 'form-control' } %>
      </div>

      <div class="col-sm-6 form-inline">
          <%= f.label :date %><br/>
          <%= f.date_select :date, { order: [:day, :month, :year] }, { class: 'form-control' }%>
      </div>
  </div>

  <div class="row" style="text-align: center; padding-top: 1em">
      <%= f.submit 'Register', { class: 'btn btn-primary' } %>
  </div>

<% end %>
