<h1>Pairings</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Member 1</th>
            <th>Member 2</th>
            <th>Frekuensi</th>
        </tr>
    </thead>
    <tbody>
        <% @matrix.each do |pairing| %>
            <tr>
                <% if pairing[:member_1] == pairing[:member_2] %>
                    <td colspan="2" align="center"><%= pairing[:member_1].name %> (solo)</td>
                <%else%>
                    <td><%= pairing[:member_1].name %></td>
                    <td><%= pairing[:member_2].name %></td>
                <%end%>
                <td><%= pairing[:freq] %></td>
            </tr>
        <% end %>
    </tbody>
</table>
            
<%= link_to 'New', new_pairing_path, { class: 'btn btn-primary', role: 'button' } %>
